<div class="productos-grid fade-in">
    {{#each productos}}
    <div class="producto-card fade-in">
<img alt="{{imgdsc}}" class="producto-img" src="{{imgurl}}"/>
<div class="producto-info fade-in">
<h3>{{titulo}}</h3>
<p>{{descripcion}}</p>
</div>
</div>
    {{/each}}
</div>